<footer>
  <nav>
    <ul>
      <li class="menu-item">TreinaWeb</li>
      <li class="menu-item">Artigo EJS </li>
      <li class="menu-item">Autor: Wesley Gado</li>
    </ul>
  </nav>
</footer>
</body>

</html>