
<h3>Listando dados</h3>
<ul class="content">
  <% for(let i=0; i<pessoas.length; i++) { %>
    <li>
      Nome: <%= pessoas[i].nome %>
    </li>
    <li>
      Idade: <%= pessoas[i].idade %>
        <br>
        <br>
    </li>
    <% } %>
</ul>